html {
    background-color: black;
}
header {
    border-bottom: 2.5px solid grey;
}

h1 {
    text-align: center;
    font-size: 65px;
    margin: 5px 0 5px 0;
    color: white;
    font-family: 'Arvo', serif;
}

.board {
    display: grid;
    justify-content: center;
    padding: 115.5px 0 0 0;
    text-align: center;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    z-index: 2;
    right: 0;
    left: 0;
    top: 0;
    position: absolute;
}

#row1 {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    padding: 0 5px 10px 0;
}

#row2 {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    padding: 0 5px 10px 0;
}

#row3 {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    padding: 0 5px 10px 0;
}

#row4 {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    padding: 0 5px 10px 0;
}

#row5 {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    padding: 0 5px 10px 0;
}

#row6 {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    padding: 0 5px 5px 0;
}

.square {
    height: 85px;
    width: 90px;
    border: 2px solid grey;
    background-color: black;
    border-radius: 4px;
    color: white;
    line-height: 85px
}

.boardback {
    position: absolute;
    display: grid;
    justify-content: center;
    padding: 115.5px 0 0 0;
    text-align: center;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1;
}

#row1back {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    padding: 0 5px 10px 0;
}

#row2back {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    padding: 0 5px 10px 0;
}

#row3back {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    padding: 0 5px 10px 0;
}

#row4back {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    padding: 0 5px 10px 0;
}

#row5back {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    padding: 0 5px 10px 0;
}

#row6back {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    padding: 0 5px 5px 0;
}

.back {
    height: 85px;
    width: 90px;
    border: 2px solid grey;
    background-color: black;
    border-radius: 4px;
    color: white;
    line-height: 85px
}

#box1 {
    transition: 0.4s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

#box2 {
    transition: 0.8s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

#box3 {
    transition: 1.6s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

#box4 {
    transition: 2.1s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

#box5 {
    transition: 2.6s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

#back1 {
    transition: 0.4s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateX(-180deg);
}

#back2 {
    transition: 0.8s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateX(-180deg);
}

#back3 {
    transition: 1.6s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateX(-180deg);
}

#back4 {
    transition: 2.1s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateX(-180deg);
}

#back5 {
    transition: 2.6s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateX(-180deg);
}

.keyboard {
    margin: 610px 10px 0 10px;
}

#key1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 0 10px 0;
}

#key2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 0 10px 0;
}

#key3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button {
    height: 65px;
    width: 45px;
    background-color: rgb(144, 144, 144);
    border-radius: 7px;
    font-size: 14px;
    color: white;
    margin: 0 5px 0 0;
    font-family: 'Poppins', sans-serif;
}

.enter {
    height: 65px;
    width: 70px;
    margin: 0 5px 0 0;
    border-radius: 7px;
    background-color: rgb(144, 144, 144);
    color: white;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

.delete {
    height: 65px;
    width: 58px;
    border-radius: 7px;
    background-color: rgb(144, 144, 144);
    color: white;
    font-size: 28px;
    line-height: 62px;
    font-family: 'Poppins', sans-serif;
}