html {
    background-color: black;
    zoom: .82;
}

header {
    border-bottom: 2.5px solid grey;
}

.qq {
    font-size: 35px;
    top: 0;
    right: 0;
    position: fixed;
    margin: 17px 20px 0 0;
    padding: 5px 15px;
    border: 3px solid white;
    border-radius: 500px;
    background: 0;
    color: white;
    z-index: 4;
}

.qq:hover {
    box-shadow: inset 0 0 5px 1px white, 0 0 5px 2px white;
    text-shadow: 0 0 5px white, 0 0 5px white;
}


.pagemask {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.8);
    z-index: 4;
}

h1 {
    text-align: center;
    font-size: 65px;
    margin: 5px 0 5px 0;
    color: white;
    font-family: 'Arvo', serif;
    text-shadow: 0 0 4px white, 0 0 4px white;
}

dialog {
    z-index: 3;
}

.instructions {
    top: 12%;
    width: 600px;
    height: 700px;
    font-family: 'Poppins', sans-serif;
    background-color: black;
    border: 2px solid grey;
    color: white;
    position: fixed;
    z-index: 5;
    padding: 15px 30px 30px 30px;
}

.how {
    text-align: center;
    margin: 0 10px 15px 10px;
}

.instructions p {
    margin: 0 0 0 0;
}

.instructions img {
    width: 310px;
}

.openbut {
    position: relative
}

.buttonx {
    margin: 0;
    position: absolute;
    right: 0;
    background: 0;
    font-size: 25px;
    border:rgb(144, 144, 144);
    color: white;
}

.buttonx:hover {
    opacity: 50%;
}

.statistics {
    top: 12%;
    width: 400px;
    height: 500px;
    z-index: 4;
    background-color: black;
    border: 2px solid gray;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.statistics h2 {
    text-align: center;
    margin: -5px 0 10px 0;
    font-size: 100px;
    text-shadow: 0 0 3px white, 0 0 3px white;
}

.nextbut {
    margin: 50px 0 0 0;
    position: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nextnext {
    font-size: 30px;
    padding: 35px 50px;
    background: 0;
    color: white;
    border: 3px solid white;
    border-radius: 500px 10px;
    text-shadow: 0 0 3px white, 0 0 3px white;
    box-shadow: inset 0 0 3px 1px white, 0 0 3px 2px white;
}

.nextnext:hover {
    opacity: 50%;
    text-shadow: none;
    box-shadow: none;
}

.board {
    display: grid;
    justify-content: center;
    padding: 115.5px 0 0 0;
    text-align: center;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    z-index: 2;
    right: 0;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 3;
}

#row1 {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    padding: 0 5px 10px 0;
}

#row2 {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    padding: 0 5px 10px 0;
}

#row3 {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    padding: 0 5px 10px 0;
}

#row4 {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    padding: 0 5px 10px 0;
}

#row5 {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    padding: 0 5px 10px 0;
}

#row6 {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    padding: 0 5px 5px 0;
}

.square {
    height: 85px;
    width: 90px;
    border: 2px solid grey;
    background-color: black;
    border-radius: 4px;
    color: white;
    line-height: 85px
}

.boardback {
    position: absolute;
    display: grid;
    justify-content: center;
    padding: 115.5px 0 0 0;
    text-align: center;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1;
}

#row1back {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    padding: 0 5px 10px 0;
}

#row2back {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    padding: 0 5px 10px 0;
}

#row3back {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    padding: 0 5px 10px 0;
}

#row4back {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    padding: 0 5px 10px 0;
}

#row5back {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    padding: 0 5px 10px 0;
}

#row6back {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    padding: 0 5px 5px 0;
}

.back {
    height: 85px;
    width: 90px;
    border: 2px solid grey;
    background-color: black;
    border-radius: 4px;
    color: white;
    line-height: 85px
}

#box1 {
    transition: transform 0.4s, box-shadow 0.4s, border 0.4s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

#box2 {
    transition: transform 0.8s, box-shadow 0.4s, border 0.4s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

#box3 {
    transition: transform 1.6s, box-shadow 0.4s, border 0.4s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

#box4 {
    transition: transform 2.1s, box-shadow 0.4s, border 0.4s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

#box5 {
    transition: transform 2.6s, box-shadow 0.4s, border 0.4s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

#back1 {
    transition: 0.4s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateX(-180deg);
}

#back2 {
    transition: 0.8s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateX(-180deg);
}

#back3 {
    transition: 1.6s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateX(-180deg);
}

#back4 {
    transition: 2.1s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateX(-180deg);
}

#back5 {
    transition: 2.6s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateX(-180deg);
}

#box6 {
    transition: transform 0.4s, box-shadow 0.4s, border 0.4s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

#box7 {
    transition: transform 0.8s, box-shadow 0.4s, border 0.4s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

#box8 {
    transition: transform 1.6s, box-shadow 0.4s, border 0.4s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

#box9 {
    transition: transform 2.1s, box-shadow 0.4s, border 0.4s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

#box10 {
    transition: transform 2.6s, box-shadow 0.4s, border 0.4s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

#back6 {
    transition: 0.4s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateX(-180deg);
}

#back7 {
    transition: 0.8s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateX(-180deg);
}

#back8 {
    transition: 1.6s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateX(-180deg);
}

#back9 {
    transition: 2.1s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateX(-180deg);
}

#back10 {
    transition: 2.6s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateX(-180deg);
}

#box11 {
    transition: transform 0.4s, box-shadow 0.4s, border 0.4s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

#box12 {
    transition: transform 0.8s, box-shadow 0.4s, border 0.4s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

#box13 {
    transition: transform 1.6s, box-shadow 0.4s, border 0.4s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

#box14 {
    transition: transform 2.1s, box-shadow 0.4s, border 0.4s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

#box15 {
    transition: transform 2.6s, box-shadow 0.4s, border 0.4s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

#back11 {
    transition: 0.4s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateX(-180deg);
}

#back12 {
    transition: 0.8s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateX(-180deg);
}

#back13 {
    transition: 1.6s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateX(-180deg);
}

#back14 {
    transition: 2.1s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateX(-180deg);
}

#back15 {
    transition: 2.6s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateX(-180deg);
}

#box16 {
    transition: transform 0.4s, box-shadow 0.4s, border 0.4s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

#box17 {
    transition: transform 0.8s, box-shadow 0.4s, border 0.4s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

#box18 {
    transition: transform 1.6s, box-shadow 0.4s, border 0.4s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

#box19 {
    transition: transform 2.1s, box-shadow 0.4s, border 0.4s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

#box20 {
    transition: transform 2.6s, box-shadow 0.4s, border 0.4s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

#back16 {
    transition: 0.4s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateX(-180deg);
}

#back17 {
    transition: 0.8s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateX(-180deg);
}

#back18 {
    transition: 1.6s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateX(-180deg);
}

#back19 {
    transition: 2.1s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateX(-180deg);
}

#back20 {
    transition: 2.6s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateX(-180deg);
}

#box21 {
    transition: transform 0.4s, box-shadow 0.4s, border 0.4s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

#box22 {
    transition: transform 0.8s, box-shadow 0.4s, border 0.4s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

#box23 {
    transition: transform 1.6s, box-shadow 0.4s, border 0.4s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

#box24 {
    transition: transform 2.1s, box-shadow 0.4s, border 0.4s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

#box25 {
    transition: transform 2.6s, box-shadow 0.4s, border 0.4s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

#back21 {
    transition: 0.4s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateX(-180deg);
}

#back22 {
    transition: 0.8s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateX(-180deg);
}

#back23 {
    transition: 1.6s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateX(-180deg);
}

#back24 {
    transition: 2.1s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateX(-180deg);
}

#back25 {
    transition: transform 2.6s, box-shadow 0.4s, border 0.4s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateX(-180deg);
}

#box26 {
    transition: transform 0.4s, box-shadow 0.4s, border 0.4s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

#box27 {
    transition: transform 0.8s, box-shadow 0.4s, border 0.4s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

#box28 {
    transition: transform 1.6s, box-shadow 0.4s, border 0.4s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

#box29 {
    transition: transform 2.1s, box-shadow 0.4s, border 0.4s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

#box30 {
    transition: transform 2.6s, box-shadow 0.4s, border 0.4s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

#back26 {
    transition: 0.4s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateX(-180deg);
}

#back27 {
    transition: 0.8s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateX(-180deg);
}

#back28 {
    transition: 1.6s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateX(-180deg);
}

#back29 {
    transition: 2.1s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateX(-180deg);
}

#back30 {
    transition: 2.6s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateX(-180deg);
}

.keyboard {
    margin: 610px 10px 0 10px;
    bottom: 10;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 2;
}

#key1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 0 10px 0;
}

#key2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 0 10px 0;
}

#key3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button {
    height: 65px;
    width: 45px;
    background-color: rgb(144, 144, 144);
    border-radius: 7px;
    font-size: 14px;
    color: white;
    margin: 0 5px 0 0;
    font-family: 'Poppins', sans-serif;
}

.enter {
    height: 65px;
    width: 70px;
    margin: 0 5px 0 0;
    border-radius: 7px;
    background-color: rgb(144, 144, 144);
    color: white;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

.delete {
    height: 65px;
    width: 58px;
    border-radius: 7px;
    background-color: rgb(144, 144, 144);
    color: white;
    font-size: 28px;
    line-height: 62px;
    font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width:768px) {
    html {
        zoom: .7;
    }

    .instructions {
        width: 500px;
        height: 780px;
        font-size: 16.5px;
    }
}